
<% provide( :title, "Lawfirm Clients") %>

<%if current_user.admin? || current_user.adminassistance?%>
       
      <h2 class="title1" style="background-color:#edeff2;height: 50px; font-size:40px; color:orange;">Lawfirm Clients</h2>
          <div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
         
  

</div>



    
<div class="col-md-12 panel-grids">
<div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title"> Details</h3> </div> <div class="panel-body">
        <br />

                                    <table style="font-size:16px;" class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Info</th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
            <% if @clients.any?%>
           <% @clients.each do |user| %>
            <div style="font-size:16px;">
<tr>
                                                <td style="width:50px;">
<%if user.avatars?%>
                                                <span class="prfil-img"><%= image_tag user.avatars_url, style:"width:50px;" %>
<%end%>
                                            </span></td>
                                                <td>
                        <h5><%= user.full_name %></h5><small class="text-muted"><%= user.phone_number %></small><p><small> <%= user.email %></small></p></td>
                                                
                                                <td> <span>
    <a onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" href="/clients/<%=user.id%>">
        <i style="font-size:27px"class="fa fa-eye"></i>

        </a>
                                                </span>

        <span>  <a onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" href="/clients/<%=user.id%>/edit">
        <i style="font-size:27px"class="fa fa-edit"></i>

        </a></span>


        <span>

  <%= link_to attorney_path(user.id), method: :delete, data: { confirm: 'Are you sure you really want to delete this post?' } do%><i onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" style="font-size:27px"class="fa fa-trash"></i><%end%>

        </span>


              </span></td>
         
                                            </tr>
                                                       


<%end%>

                                        </tbody>
                                    </table>





           <%else%>
<h5>There are no Clients on this lawfirm yet!</h5>
<%end%>



<%= link_to 'Add New Client', new_client_path, class:"btn btn-success" %>
 <%= link_to 'Back to Dashboard', root_path, class:"btn btn-info" %> |

<%= link_to "Back", :back, class:"btn btn-warning"%> 

 

                                </div>
                            </div>
                        </div>
                    </div>




<%else%>

<h5>Your are not allowed to view this page</h5>

 <%end%>














