<div id="comments">
<div class="comment clearfix">

<div class="content">
<%if comment%>



<div class="bg-light p-20">
                                <div class="d-flex">
                                    <div class="align-self-center">
                                        <h5 class="m-b-0">



   <div class="table-responsive">
<tbody>
<tr>
<td style="width:50px;">
  <p class="comment_content"><%= comment.content%></p>
   
<%if comment.commenter.avatars?%>
                                                <span class="round"><%= image_tag comment.commenter.avatars_url, style:"width:50px;" %>
<%end%>
                                            </span>


 <p class="comment_author"><%= comment.commenter.first_name%> <%= comment.commenter.last_name%> <small><%=time_ago_in_words(comment.created_at)%></small>
  

 <%= link_to "Edit", edit_post_comment_path(comment.post, comment)%>

 
 <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you really sure to delete this Reply?"}%>

      <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo22">                                       </td></tr></tbody></table>

  <div class="ml-auto align-self-center">
                                        <h2 class="text-success"></h2></div>
                                </div>
                            </div>


 <%end%>
  </div>
 </div>
</div>
 