<% provide( :title, "New S.Admins") %>

<%if current_user.admin?%>



<div class="col-md-12 panel-grids">
</div>
 
            <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title"> New Super Admin </h3> </div> <div class="panel-body">


           

                <div class="row">

<div >
<%= form_for(@user,  url: create_sadmin_url(@user), html: { multipart: true }) do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
   <form> 
      <div class="col-md-6">
      <div class="form-group">
      <%= f.label :first_name %>
    

    <%= f.text_field :first_name, autofocus: true, type:"text", required:"required", class:"form-control"%>

      </div></div>
      <br>
<div class="col-md-6">
<div class="form-group">
    <%= f.label :last_name %>
	
    <%= f.text_field :last_name,  autofocus: true, type:"text", required:"required", class:"form-control" %>
 
   </div></div>

 

<div class="col-md-6">
 <div class="form-group">
  <%= f.label :avatars, "Profile Pic" %>
 
   <%= image_tag(@user.avatars_url) if @user.avatars? %>
    <%= f.file_field :avatars, autofocus: true, class:"form-control" %>
	 <%= f.hidden_field :avatars_cache %>
	
</div>
   </div> 

   <div class="col-md-6">
<div class="form-group">
    <%= f.label :birthday%>
	
    <%= f.date_field :birthday, autofocus: true, class:"form-control"  %>
 
 </div></div>
 <div class="col-md-6">
 <div class="form-group">
    <%= f.label :address %>

    <%= f.text_field :address, autofocus: true, type:"text", required:"required", class:"form-control"  %>
 
   </div></div>
  <div class="col-md-6">
 <div class="form-group">
    <%= f.label :email %><br />
	
    <%= f.email_field :email, autofocus: true, type:"email", required:"required", class:"form-control" %>
 
 </div></div>
 <div class="col-md-6">
  <div class="form-group">
    <%= f.label :password %>
	
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
	
    <%= f.password_field :password, autocomplete: "off", type:"password", required:"required", class:"form-control" %>
 
 </div></div>
 <div class="col-md-6">
 <div class="form-group">
    <%= f.label :password_confirmation%><br />
	
    <%= f.password_field :password_confirmation, autocomplete: "off", type:"password", required:"required", class:"form-control"%>
 
 </div></div>
 <div class="col-md-6">
<div class="form-group">
    <%= f.label :phone_number %>
	
    <%= f.number_field :phone_number, type:"number", required:"required", class:"form-control" %>
  
 </div>
 <div class="form-group">
    <%= f.label :state%>
	
    <%= f.text_field :state, type:"text", required:"required", class:"form-control"%>
  
 </div></div>
 <div class="col-md-6">
<div class="form-group">
    <%= f.label :city%>
	
    <%= f.text_field :city, type:"text", required:"required", class:"form-control"%>

  </div> </div>


<div class="action">
                     
    <%= f.submit "Create Superadmin account" , class: "btn btn-info" %>
 <%= link_to "Cancel", :back, class:"btn btn-warning"%>
  </div></form>
<% end %>
<br/>
<br/>
 

 
</div>
</div>
</div>

<%else%>

<h5>Your are not authorized  to view this page</h5>

 <%end%>

<%= link_to 'Dashboard', root_url, class:"btn btn-info" %>
<%= link_to "Back", :back, class:"btn btn-warning"%>




</div>
</div>


