<% provide( :title, @user.full_name) %>

      <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">User Profile</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
<!-- Column -->
                    

    <div class="row profile">
    <div class="col-lg-4 col-xlg-3 col-md-5">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          <div class="profile-userpic">
       
        

   <%if @user.avatars?%>
       <%= image_tag @user.avatars_url, class:"img-circle" %>


        <%else%>

        <img class:"img-circle" src="../assets/fallback/default.png" />
        <%end%>


        </div>
            <%= @user.full_name %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.type%>
              
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <center><button type="button" class="btn btn-success btn-sm">
<% if @user.type == "Sadmin"%>

Acetracecms

<%else%>

    <%if @user.lawfirm%>
          <%=link_to @user.lawfirm.name, lawfirm_path(@user.lawfirm.id)%></button></center>
      <%else%>
     <p style="font-size:16px; color:red;"> No Lawfirm Created</p>
        <%end%>
  <%end%>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
             <li class="active">
              <%=link_to edit_users_admin_path(@user.id) do%>
              <i class="fa fa-user"></i>Account Settings</a>
              <%end%>

            </li>
            
            
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
  <div class="col-lg-8">
                        <div class="card">
                        

            <div class="tab-content">
                                
                                    <div class="card-body">
                                        <div class="profiletimeline">
                                        <center><h3>Timeline</h3></center>
         <p>
<% if @user.type == "Attorney" || @user.type == "Client" %>

 <% if @user_cases.any? %>
 <strong><%= mycaseuser%> cases associated. </strong>
<table class="table">
  <thead>
    <tr>
      <th>Caseno</th>
     
      <th>Subject</th>
      
      <th>Status</th>
       <th>Lawfirm</th>
     
      
     
     
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_cases.each do |mycase| %>
  <tr>
         <div style="font-size:16px;"> 
        <td><%= mycase.caseNo %></td>
        
        <td><%= mycase.subject %></td>
       
        <td><%= mycase.status %></td>
   
     <td><%= mycase.lawfirm.name %></td>
        
        <td><%= link_to 'Show', mycase_path(mycase) %></td>
        
        <td> <%if @user.tasks.any?%>
       <%if @user.tasks == mycase.tasks%>
    
       
                  
              
           <td><%= link_to 'see tasks', casetask_mycase_path(mycase.id) %> </td>
          
           
      <%end%>  
    
    <%end%> </td>
      </tr>
    <% end %>
  
  </tbody>
</table>

<%else%>
<h5>There are no cases associated to this user yet!</h5>
<%end%>

<%end%>

<h6>
  First name  - 
  <%= @user.first_name %>
</h6>
<h6>
 Last name  -
  <%= @user.last_name %>
</h6>
<h6>
 Date of Birth  - 
  <%= @user.birthday %>
</h6>
<h6>
  Email - 
  <%= @user.email %>
</h6>

<h6>
 Phone number - 
  <%= @user.phone_number %>
</h6>

<h6>
  Address - 
  <%= @user.address %>
</h6>
<h6>
 State -
  <%= @user.state %>
</h6>
<h6>
 Address - 
  <%= @user.city %>
</h6>
</div>
<%if current_user.id == @user.id%>
    <%= link_to 'Update Profile', edit_user_registration_path %> |
  <%else%>
<%= link_to 'Edit User', edit_users_admin_path(@user) %> |
<%end%>
 <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> |

<%= link_to "Back", :back, class:"btn btn-warning"%> 
            </div>
    </div>
  </div>
</div>
</div>
<br>
<br>




  









