<% provide( :title, @user.full_name) %>

      <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Client</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
    <div class="row profile">
    <div class="col-md-4">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          <div class="profile-userpic">
        <%= image_tag(@user.avatars_url) if @user.avatars? %>

        </div>
            <%= @user.full_name %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.type%>
            
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <center><button type="button" class="btn btn-success btn-sm"><%= link_to @user.lawfirm.name%></button></center>
          
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <%=link_to edit_client_path(@user.id) do%>
              <i class="fa fa-user"></i>Account Settings</a>
              <%end%>

            </li>
            
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-8">
            <div class="profile-content">
            <div class="card-body">
                                        <div class="profiletimeline">
         <p>


 <% if @user_cases.any? %>
 <h5><strong><%= pluralize(@user_cases.count, "Case") %> Associated.

  </strong><h5/>
<table class="table">
  <thead>
    <tr>
      <th>Caseno</th>
     
      <th>Subject</th>
      
      <th>Status</th>
       <th>Lawfirm</th>
      <th>Show</th>
      
     
     
     <div style="font-size:16px;">
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_cases.each do |mycase| %>
  <tr>
         
        <td><%= mycase.caseNo %></td>
        
        <td><%= mycase.subject %></td>
       
        <td><%= mycase.status %></td>
   
     <td><%= mycase.lawfirm.name %></td>
        
        <td><%= link_to 'Show', mycase_path(mycase), class:"btn btn-info" %></
    
  </td>
      </tr>
    <% end %>
  
  </tbody>
</table>

<%else%>
<h5>There are no cases associated to this user yet!</h5>
<%end%>


<p>
  <strong>First name  - </strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name  - </strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Date of Birth  - </strong>
  <%= @user.birthday %>
</p>
<p>
  <strong>Email - </strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number - </strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Address - </strong>
  <%= @user.address %>
</p>
<p>
  <strong>State - </strong>
  <%= @user.state %>
</p>
<p>
  <strong>Address - </strong>
  <%= @user.city %>
</p>
</div>
<%if current_user.id == @user.id%>
    <%= link_to 'Edit Profile', edit_user_registration_path %> |
  <%else%>
<%= link_to 'Edit User', edit_client_path(@user) %> |
<%end%>

 <%= link_to 'Back to Dashboard', root_path, class:"btn btn-info" %> |

<%= link_to "Back", :back, class:"btn btn-warning"%> 
            </div>
    </div>
  </div>
</div>
</div>
<br>
<br>




  









