<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @mycasecomment.content %>
</p>

<p>
  <strong>Content:</strong>
  <%= @mycasecomment.attachment_path %>
</p>

<p>
  <strong>Mycase:</strong>
  <%= @mycasecomment.mycase_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @mycasecomment.user_id %>
</p>

<%= link_to 'Edit', edit_mycasecomment_path(@mycasecomment) %> |
<%= link_to 'Back', mycasecomments_path %>
