<html>

	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon.png">
	<title>Login | Acetracecms</title>
	  
	   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	</head>
	<body>
        	  
        <div class="login-register" style="background-image:url(../assets/img/back.jpg);">
       
 <% flash.each do |message_type, message| %>
		<div class="alert alert-success" role="alert"><%= message_type %>-<%= message %></div>
		
		<% end %>





	<%=yield%>
</div></div></div></section></body>
	
<html>