<%= wisepdf_stylesheet_link_tag "documents" %>

<div class="document">


  <div class="col-md-8 col-lg-8 d-none d-lg-block">
             <center> <%= wisepdf_image_tag 'logo-icon.png' %></center>

  
                 


<center>
             <h1 class="card-title"><strong> Legal Case at <%= @mycase.lawfirm.name%></strong></h1>

</center>

     
        <%= wisepdf_image_tag @mycase.lawfirm.logos_url  %>
       
     
                <h2 class="card-title"><strong>Case - <%= @mycase.caseNo %></strong></h2>
              </div>
                </div>
              </div>


<div class="card-body card-body">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
 <td> <strong>Caseno:</strong></td>
  <td><%= @mycase.caseNo %></td>
</tr>
 <tr>
 <tr>
<td>
  <strong>Entity:</strong></td>
  <td><%= @mycase.entity %></td>
</tr>

<%if @mycase.f_name %>
<td>
  <strong>Client First Name:</strong></td>
  <td><%= @mycase.f_name %></td>
</tr>
<%end%>

<%if @mycase.l_name %>
<td>
  <strong>Client Last Name:</strong></td>
  <td><%= @mycase.l_name %></td>
</tr>
<%end%>

<%if @mycase.company_name %>
<td>
  <strong>Company Name:</strong></td>
  <td><%= @mycase.company_name %></td>
</tr>
<%end%>

<%if @mycase.rc %>
<td>
  <strong>Company RC No:</strong></td>
  <td><%= @mycase.rc %></td>
</tr>
<%end%>


<%if @mycase.rep_first %>
<td>
  <strong>Representative First Name:</strong></td>
  <td><%= @mycase.rep_first %></td>
</tr>
<%end%>


<%if @mycase.rep_last %>
<td>
  <strong>Representative Last Name:</strong></td>
  <td><%= @mycase.rep_last %></td>
</tr>
<%end%>

<%if @mycase.company_spec %>
<td>
  <strong>Company Sector(Specialization):</strong></td>
  <td><%= @mycase.company_spec %></td>
</tr>
<%end%>

 <tr>
  <td><strong>Subject:</strong></td>
 <td><%= @mycase.subject %></td>
</tr>

 <tr>
  <td><strong>Area of practice:</strong></td>
  <td><%= @mycase.area_of_practice %></td>
</tr>

 <tr>
 <td> <strong>Opponents:</strong></td>
 <td> <%= @mycase.opponents %></td>
</tr>

 <tr>
  <td><strong>Assigned attorney:</strong></td>
  <td><%= @mycase.assigned_attorney %></td>
</tr>

 <tr>
  <td><strong>Arrival date:</strong></td>
 <td> <%= @mycase.arrival_date %></td>
</tr>

 <tr>
  <td><strong>Due date:</strong></td>
  <td><%= @mycase.due_date %></td>
</tr>

 <tr>
  <td><strong>Status:</strong></td>
  <td><%= @mycase.status %></td>
</tr>

 <tr>
 <td> <strong>Summary of brief:</strong></td>
 <td> <%= @mycase.summary_of_brief %></td>
</tr>

 <tr>
  <td><strong>Add judge:</strong></td>
  <td><%= @mycase.add_judge %></td>
</tr>

 <tr>
  <td><strong>Add court:</strong></td>
  <td><%= @mycase.add_court %></td>
</tr>

 <br>
 <td><h5><strong>Case Client</strong></h5></td>
</tr>

<div class="table-responsive">
                          <table class="table table-hover earning-box">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Name</th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
<td style="width:50px;">
<%if @client.avatars?%>
                                                <span class="round"><%= wisepdf_image_tag @client.avatars_url, style:"width:50px;" %>

<%end%>
                                            </span></td>
                                                <td>
                                                    <h6><%= @client.full_name %></h6><small class="text-muted"><%= @client.phone_number %></small></td>
                                 
 <tr>
 </tr>
 </tbody>
 </table>

  <h5><strong>Case Attorneys</strong></h5>
  
</tr>
     <div class="card-body">
                                <div class="table-responsive">
                                   <% if @attorneys.any?%> <table class="table table-hover earning-box">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Name</th>
                                                <th></th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
        
           <% @attorneys.each do |user| %>
<tr>
                                                <td style="width:50px;">
<%if user.avatars?%>
                                                <span class="round"><%= wisepdf_image_tag user.avatars_url, style:"width:50px;" %>
<%end%>
                                            </span></td>
                                                <td>
                                                    <h6><%= user.full_name %></h6><small class="text-muted"><%= user.phone_number %></small></td>
                                                
                                                <td><%= user.email %></td>
                                            </tr>
                                                       


<%end%>

                                        </tbody>
                                    </table>


           <%else%>
<h5>There are no Attorneys assigned to this Case yet!</h5>
<%end%>


</tbody>
</table>
</div>
</div>
</div>
</div>
</tbody>
</table>
</div>
</div>


<br/>
<br/>
<br/>
  <%= render :partial => 'shared/address.html.erb' %>
</div>
