 <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                           
                
                            <!-- Light Logo icon -->
                            <img src="../assets/img/logo-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="../assets/img/logo-icon.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="../assets/img/logo-icon.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->

 
 
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ========================================================
                       
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ========================================================-->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                     
                        <!-- ============================================================== -->
                      <!-- Language -->
                        <!-- ============================================================== -->
               <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->





 <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated slideInUp">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                           
                                            <!-- Message -->
                                            <a href="/notifications">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pending Events</h5> <span class="mail-desc">You have <%=Notification.unread_count(current_user)%></span> <span class="time">Events</span> </div>
                                            </a>
                                            <!-- Message -->
                                        
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="/notifications"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><% if user_signed_in? %> 
            Hello, <%= current_user.first_name %> 
          <%if current_user.avatars?%>
          
        <%= image_tag current_user.avatars_url, :class => "profile-pic"  %>
        <%else%>
          <img class="profile-pic" src="../assets/img/avatar/default.png" alt="..."></span>
        <%end%>
        
       </a>    <div class="dropdown-menu animated flipInY">
                            <!-- text-->
                            <%if current_user.admin?%>
                                <%if current_user.lawfirm?%>
                           <div class="dropdown-item">
                            <span class='dropdown-item'><%= link_to users_admin_path(current_user) do%> <i class="ti-user"></i>My Profile </span><%end%>
</div>
<%end%>
<%end%>
                         
                            <div class="dropdown-divider"></div>
                            <!-- text-->
                           

                            <span class='dropdown-item'> <%= link_to edit_user_registration_path  do%><i class="ti-settings"></i>Account Settings<%end%>
                            <!-- text-->
                            <div class="dropdown-divider"></div>
                            <!-- text-->
                            

                             
                     <span class='dropdown-item'><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-power-off"></i>Logout</span> <%end%>
                            <!-- text-->
                        </div>
                  
                 <%end%>
            </div>


                    </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ========================================================= -->
